<script id='ko_usersGrid_grid' type='text/x-jquery-tmpl'>
  <thead>
      <tr>
          {{each(i, columnDefinition) columns}}
              <th>${ columnDefinition.headerText }</th>
          {{/each}}
          <th>Edit</th>
          <th>Delete</th>
      </tr>
  </thead>
  <tbody>
      {{each(i, row) itemsOnCurrentPage()}}
          <tr>
              {{each(j, columnDefinition) columns}}
              <td>${ typeof columnDefinition.rowText == 'function' ? columnDefinition.rowText(row) : row[columnDefinition.rowText] }</td>
              {{/each}}
              <td><a href="#" data-bind="click: function(){ editUserBox(row) }">Edit</a></td>
              <td>
                  <a href="#" data-bind="click: function(){ deleteUser(row) }">
                    <img src="images/delete.png" alt="Delete"/>
                  </a>
              </td>
          </tr>
      {{/each}}
  </tbody>
</script>

<script id="ko_usersGrid_pageLinks" type="text/x-jquery-tmpl">
  <div class="pagination">
      <ul>
      {{each(i) ko.utils.range(1, maxPageIndex)}}
          <li data-bind="css: { active: i == currentPageIndex() }">
            <a href="#" data-bind="click: function() { currentPageIndex(i) }">
              ${ i + 1 }
            </a>
          </li>
      {{/each}}
      </ul>
  </div>
</script>


<script id="usersGrid"  type="text/x-jquery-tmpl">
    <h2>Users list</h2>

    <button data-bind='click: addUser' class="btn">
        Add User
    </button>

    <button data-bind='click: sortByName'  class="btn">
        Sort by name
    </button>

    <button data-bind='click: function() { gridViewModel.currentPageIndex(0) }'  class="btn">
        Jump to first page
    </button>

    <div id="usersPagination"></div>

    <table class="bordered-table zebra-striped" data-bind="simpleGrid: gridViewModel" id="usersTable"></table>


    <div id="createUserForm"></div>
</script>


<script id="usersGridDataTable"  type="text/x-jquery-tmpl">
  <table data-bind="dataTable: { dataSource: users, columns: ['username', 'fullName', 'email'] }">
    <thead>
        <tr>
            <td>Column 1</td>
            <td>Column 2</td>
            <td>Column 3</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</script>